*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

background:#FFF9F6;
overflow-x:hidden;
color:#3A3532;

font-family:'Poppins',sans-serif;

}



/*==========================
         NAVBAR
==========================*/


nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:8px 8%;

position:fixed;

width:100%;

top:0;
left:0;

background:rgba(255,255,255,.75);

backdrop-filter:blur(25px);

z-index:1000;

transition:.5s;

}



.logo img{

width:110px;

cursor:pointer;

transition:.5s;

}


.logo img:hover{

transform:scale(1.05);

}



nav ul{

display:flex;
gap:35px;

list-style:none;

}


nav ul li a{

text-decoration:none;

color:#3A3532;

font-size:17px;

font-weight:500;

position:relative;

transition:.5s;

}


nav ul li a:hover{

color:#D4C2A8;

}


nav ul li a::after{

content:"";

position:absolute;

left:0;
bottom:-8px;

width:0%;

height:2px;

background:#D4C2A8;

transition:.5s;

}


nav ul li a:hover::after{

width:100%;

}


/* HEADING */


.heading{

padding:150px 10%;
text-align:center;

}


.heading h1{

font-size:70px;

font-family:'Playfair Display',serif;

margin-bottom:25px;

}


.heading p{

font-size:25px;
color:#777;

margin-bottom:25px;

}


.heading h3{

font-size:22px;

font-weight:400;

line-height:40px;

}




/* CONTACT CARDS */


.contact-container{

padding:80px 10%;

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(350px,1fr));

gap:40px;

}


.card{

background:white;

padding:50px;

border-radius:30px;

box-shadow:

0 20px 50px
rgba(0,0,0,.05);

transition:.6s;

text-align:center;

}


.card:hover{

transform:

translateY(-10px);

}


.card h2{

font-size:35px;

margin-bottom:25px;

font-family:

'Playfair Display',serif;

}


.card p{

font-size:20px;

line-height:35px;

margin-bottom:30px;

color:#666;

}



.card a{

text-decoration:none;

padding:18px 35px;

background:#D4C2A8;

color:white;

border-radius:50px;

display:inline-block;

transition:.5s;

}


.card a:hover{


background:#EED5CC;

color:#3A3532;


}




/* SOCIAL */


.social{


padding:120px 10%;

text-align:center;


}


.social h1{


font-size:60px;

font-family:
'Playfair Display',serif;

margin-bottom:50px;


}



.social-links{


display:flex;

justify-content:center;

gap:40px;

flex-wrap:wrap;


}



.social-links a{


text-decoration:none;

padding:18px 35px;

border-radius:50px;

background:white;

color:#3A3532;

box-shadow:
0 15px 40px rgba(0,0,0,.05);

transition:.5s;


}


.social-links a:hover{


transform:

translateY(-5px);


background:#D4C2A8;

color:white;


}




/* FOOTER */


footer{


padding:80px;

text-align:center;

background:#FAEFEC;


}


footer h2{


font-size:40px;

font-family:
'Playfair Display',serif;

margin-bottom:20px;


}


footer p{


margin-top:10px;


}




/* MOBILE */


@media(max-width:768px){


.heading h1{


font-size:45px;


}


.heading h3{


font-size:18px;

line-height:30px;


}


.contact-container{


grid-template-columns:1fr;


}


.social h1{


font-size:40px;


}


}